<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quality Dashboard</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron">
            <div class="container-fluid">
                <p>
                Buffer Quality Dashboard!
                </p>
            </div>
        </div>
    </body>
</html>
