.card {

}

.card h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.chart-container {

    background-color: whitesmoke;
}

.number-container {

}

.chart {
    height: 500px;
}


.number {
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-weight: 600;
    padding: 20px 0 40px 0;
}